@model IEnumerable<StickyNotesApp.Models.Todo>

@{
    ViewData["Title"] = "Notes";
}

<h2>@User.Identity.Name Notes</h2>

<hr />

<form>
    <button type="submit" class="btn btn-primary btn-sm" asp-action="CreateAuth">Add Note</button>
</form>

<hr />

@*
    Iterate through the Todo model we receive from the controller and bind the current item's data
    to data attributes so we can get the updated values.
*@

@foreach (var item in Model)
{
    // Conditionally render the button based on IsDone property.
    if (@item.IsDone)
    {
        <span data-toggle="tooltip" data-placement="top" title="@item.Description">
            <button id="modalButton" type="button" class="btn btn-success" data-toggle="modal" data-target="#todo-details" data-itemID="@item.ID"
                    data-title="@item.Title" data-description="@item.Description" data-isDone="@item.IsDone" data-expDate="@item.ExpireDate">
                @Html.DisplayFor(modelItem => item.Title)
            </button>
        </span>
    }
    else
    {
        <span data-toggle="tooltip" data-placement="top" title="@item.Description">
            <button id="modalButton" type="button" class="btn btn-warning" data-toggle="modal" data-target="#todo-details" data-itemID="@item.ID"
                    data-title="@item.Title" data-description="@item.Description" data-isDone="@item.IsDone" data-expDate="@item.ExpireDate">
                @Html.DisplayFor(modelItem => item.Title)
            </button>
        </span>
    }
    <div class="modal fade" id="todo-details" tabindex="-1" role="dialog" aria-labelledby="todo-details-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="todo-details-label">Todo Details</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsDone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ExpireDate)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="itemID"></td>
                                <td id="itemTitle"></td>
                                <td id="itemDescription"></td>
                                <td id="itemIsDone"></td>
                                <td id="itemExpireDate"></td>
                                <td>
                                    <a id="editURI" @*asp-action="Edit" asp-route-id="@item.ID" *@>Edit</a>
                                    @*<a asp-action="Details" asp-route-id="@item.ID">Details</a>*@
                                    <a id="delURI" @*asp-action="Delete" asp-route-id="@item.ID" *@>Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        // Function to refresh and grab the matching data
        // that is passed into the modal whenever the modal is closed.
        $(function () {
            // Enable tooltips.
            $('[data-toggle="tooltip"]').tooltip()

            // Bind properties for modal.
            $('#todo-details').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var id = button.data('itemid');
                var title = button.data('title');
                var description = button.data('description');
                var isDone = button.data('isdone');
                var expDate = button.data('expdate');

                // Console Debug
                //console.log(modalButton.dataset);
                //console.log(isDone);
                //console.log(expDate);

                $('#itemID').text(id);
                $('#itemTitle').text(title);
                $('#itemDescription').text(description);
                $('#itemIsDone').text(isDone);
                $('#itemExpireDate').text(expDate);

                // Set the href attribute for Edit and Delete routes
                // with the respective id.
                $('#editURI').attr('href', 'Todos/EditAuth/' + id);
                $('#delURI').attr('href', 'Todos/DeleteAuth/' + id);
            });
        });
    </script>
}